.all_cards {
  display: flex;
  justify-content: center;
  flex-direction: column;
  .Spyros {
    border: 3px solid green;
  }
  .card {
    margin: 5%;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.66);
    height: 20vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      width: 30%;
      margin: 2%;
    }
    .text {
      display: flex;
      flex-direction: column;
      padding: 2%;
      width: 100%;
      .headCard {
        display: flex;
        justify-content: space-between;
        h2 {
          font-size: x-large;
          font-family: "Madimi One", sans-serif;
        }
        .check {
          display: flex;
          padding: 2%;
          margin: 2%;
          .heart {
            padding: 5%;
          }
        }
      }
      .info {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        img {
          height: fit-content;
          margin: 0;
        }
        .elemImg {
          font-family: "Roboto Slab", serif;
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
